@using Blog.BLL.BusinessModels.Requests.TagRequests;
@model DeleteTagRequest

<div class="container-page">
    <h2 class="title-margin">Удаление тега</h2>
    <form method="post" asp-controller="Tag" asp-action="Delete"> <div asp-validation-summary="All" class="text-danger"></div>
        <div style="margin-bottom: 5px">
            <label asp-for="Name"></label><br />
            <input class="form-control" asp-for="Name" value="@Model.Name" readonly/>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="form-control" asp-for="@Model.TagId" hidden readonly/>
        </div>
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="Удалить" />
        </div>
        <p>
            <a method="get" asp-controller="Tag" asp-action="GetAll">Вернуться к списку всех тегов </a>
        </p>
    </form>
</div>
