﻿@using Blog.BLL.BusinessModels.Requests.CommentRequests;
@model UpdateCommentRequest

<div class="container-page">
    <h2 class="title-margin">Редактирование комментария</h2>
    <form method="post" asp-controller="Comment" asp-action="Update">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="margin-bottom: 5px">
            <label asp-for="Content"></label><br />
            <input class="form-control" asp-for="Content" value="@Model.Content"/>
            <span asp-validation-for="Content" class="text-danger"></span>
            <input class="form-control" asp-for="CommentId" value="@Model.CommentId" hidden />
            <input class="form-control" asp-for="ArticleId" value="@Model.ArticleId" hidden />
            <input class="form-control" asp-for="UserId" value="@Model.UserId" hidden />
        </div>
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="Сохранить" />
        </div>
        <p>
        </p>
    </form>
</div>
