<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
	<!-- Файлы для записи ошибок и действий пользователей -->
	<targets>
		<target xsi:type="File" name="main" fileName="${basedir}/Logs/main/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="error" fileName="${basedir}/Logs/errors/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>
	<!-- Правила для маршрутизации сообщений -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- Все сообщения уровня Debug и выше, но не уровня Error, идут в файл действий пользователей -->
		<logger name="*" maxlevel="warn" writeTo="main" />
		<!-- Все сообщения уровня Error и выше идут в файл ошибок -->
		<logger name="*" minlevel="warn" writeTo="error" />
	</rules>
</nlog>