@{
    ViewData["Title"] = "Ресурс не найден";
}

<h1 class="text-danger">Запрашиваемый ресурс не найден.</h1>
<h2 class="text-danger">Попробуйте обновить страницу или повторить запрос позднее.</h2>

